:root{
  --main-header-color :#379683;
  --main-text-color: #EDF5E1;
  --main-footer-color: #05386B;
  --main-blue-green: #8EE4AF;
  --secondary-red: #FC4445;
  --secondary-blue-1: #CAFAFE;
  --secondary-blue-2: #97CAEF;
  --secondary-blue-3: #3FEEE6;
  --secondary-blue-green: #55BCC9;
}
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background: rgb(255,26,26);
  background: linear-gradient(0deg, rgba(255,26,26,1) 0%, rgba(162,255,234,1) 100%);  */
  background-color: #8EE4AF;
}
/* .container { */
  /* max-width: 960px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto; */
  /* min-height: 100vh; */
/* } */
img {
  max-width: 100%;
}
a{
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.navbar-container{
  width: 100%;
  background-color: var(--main-header-color);
}
nav {
  /* margin: 10px auto 80px; */
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
  max-width: 960px;
  justify-content:space-between;
  align-items: center;
  color: var(--main-text-color);
  /* border-bottom: 1px solid #ddd;*/
}
.nav-buttons{
  /* border: 2px solid red; */
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 1.2rem;
}
.nav-buttons>* {
  margin: .7rem;
  font-size: 1.5rem;
  color: var(--main-text-color);
  text-decoration: none;
}

.sign-in {
  background: inherit;
  border: none;
}
.sign-in:hover {
  cursor: pointer;
}
.sign-up {
  text-decoration: none; 
  background: inherit;
  border:none;
}
.sign-up > a{
  margin-left: -15px;
  background: rgb(0, 105, 131);
  border-radius: 20px;
  padding: 20px;
  color: var(--main-text-color);
  text-decoration: none; 
  transition: 0.2s;
}
.sign-up > a:hover{
  background-color: var(--main-text-color);
  color: rgb(0, 105, 131);
}
nav a:hover, .sign-in:hover {
  color: rgb(0, 105, 131);
}
.dropdown{
  padding:20px 60px;
  background: var(--main-footer-color);
  color: var(--main-text-color);
  border: none;
  border-left: 2px solid white;
  margin-right:50px;
  display:none;
  font-size: 1.4rem;
  transition: 0.4s;
}
.dropdown:hover, .dropdown:focus{
  background: var(--main-text-color);
  color: var(--main-footer-color)
}
.mobile-nav-buttons{
  display:none;
  max-width: 400px;
  min-width: 200px;
  position:absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top:110px;
  right:40px;
  border-radius: 5px;
  padding: 5px;
  /* background-color: var(--secondary-blue-2); */
  background-color: var(--main-text-color);
  font-size: 1.3rem;
  -webkit-animation-name: animateright;
  -webkit-animation-duration: 0.4s;
  animation-name: animateright;
  animation-duration: 0.4s;
}
.dropdown-navbar-list{
  list-style: none;
  padding:0;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.dropdown-list-item{
  margin-bottom:5px;
  border-bottom:1px solid var(--main-footer-color)
}
.dropdown-link{
  color: black;
  text-decoration: none;
}
.dropdown-sign-in{
  background: inherit;
  border-radius: 10px;
  border:none;
  color: var(--main-text-color);
  padding: 5px;
  font-size: 1.2rem;
  transition: 0.2s;
}
.dropdown-sign-in:hover{
  cursor:pointer;
  /* color: var(--sec) */
}

.dropdown-navbar-footer{
  width:100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--main-footer-color);
}
.dropdown-sign-up{
  margin-top: 10px;
  border:none;
  font-size: 1.5rem;
  transition: 0.4s;
  /* background: var(--main-footer-color); */
  background: inherit;
}

.dropdown-sign-up-link{
  color:var(--main-text-color);
}
.dropdown-menu-close{
  margin-top: 20px;
  border:none;
  background: var(--secondary-red);
  color: var(--main-text-color);
  padding:7px;
  border-radius: 5px;
  width: 100%;
  font-size: 1.2rem;
}
.dropdown-menu-close:hover{
  cursor:pointer;
}

.menu-show{
  display: flex;
}
@media screen and (max-width: 600px){
  .nav-buttons{
    display: none;
  }
  .dropdown-sign-up-link:hover{
    /* border-bottom:1px solid red; */
  
    color: var(--main-text-color);
  }

  .dropdown{
    display:block;
  }
}
@media screen and (min-width: 600px){
  .mobile-nav-buttons{
    display:none;
  }
}
footer {
  /* margin-top: 10rem; */
  background-color: var(--main-footer-color);
  color: var(--main-text-color);
  bottom:0;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  /* border: 2px solid blue; */
  margin: 0 auto;
  min-height: 100vh;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-direction: column;
  margin-bottom: 10rem;
}
/* .content-box{
} */
.row {
  display:flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  border-bottom: 1px solid rgb(255, 188, 188);
  padding: 60px 0;
}
.content-text {
  /* align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start; */
  /* border: 2px solid yellow; */
  width: 55%;
}
.row img {
  align-self: flex-start;
  width: 40%;
}
/* .content h1{
  font-size: 5vw;
} */
.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  position: relative;
  border-radius: 20px;
  margin: auto;
  border: 1px solid #888;
  width: 50%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.modal-header {
  border-radius: 20px 20px 0px 0px;
  display: flex;
  justify-content: space-between;
  padding: 2px 16px;
  background-color: var(--secondary-blue-green);
  color: var(--main-text-color);
}
.modal-close{
  border:none;
  padding:0.2rem;
  background: inherit;
  cursor:pointer;
}
.modal-footer {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  background-color: var(--secondary-red);
  border-radius: 0px 0px 20px 20px;
  color: var(--main-text-color);
}
.modal-body {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--secondary-blue-1);
  min-height: 8rem;
  padding: 20px 16px;
}
.input-container {
  height:3.2rem;
  position:relative;
  width: 100%;
}
.input-1 {
  margin-top: 1rem;
  
  margin-bottom: 2rem;
}
.input-2 {
  margin-top: 0.8rem;
}
.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}

.cut {
  position: absolute;
  top: 3px;
  left: 8px;
  font-size: 0.8em;
  transition: 0.6s;
  font-family: sans-serif;
}
.input-container input:focus ~ .cut,
.input-container input:valid ~ .cut {
  transform: translateX(-13px) translateY(-25px);
  font-size: 1em;
}
.modal-sign-in{
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  color:var(--main-footer-color); ;
  background-color: var(--secondary-blue-2);
  width:100%;
  margin-top: 0.5rem;
  border-radius: 20px;
  transition: 0.5s;
  border:0.7px solid rgb(15, 31, 15);
  margin-bottom: 10px;
}
.modal-sign-in:hover{
  cursor: pointer;
  background-color: var(--secondary-blue-3);
}
.modal-sign-up-link{
  display:inline-block;
  border:none;
  cursor:pointer;
  font-size: 1.5rem;
  margin-left: 0.4rem;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
@keyframes animateright {
  from {right: -300px; opacity: 0}
  to {right: 40; opacity: 1}
}